/* Variables */
:root {
  --space-xs: 0.64rem;
  --space-sm: 0.8rem;
  --space-rg: 1rem;
  --space-md: 1.25rem;
  --space-lg: 1.563rem;

  --text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
  --text-size-rg: 1rem;
  --text-size-md: 1.25rem;
  --text-size-lg: 1.563rem;

  --color-blue: #2670f5;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #eceff1;
  color: #030f25;
}

body,
#root,
#root > div {
  min-height: 100vh;
  height: 100vh;
}

h1,
a {
  margin: 0;
}
